body {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #590253;
}

.loader {
    display: inline-block;
    margin: auto;
    padding: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: #8A038C;
    text-align: center;
    top: auto;
}

.loader h1 {
    line-height: 1;
    color:#8A038C;

}

.loader span {
    mix-blend-mode: difference;
}

.loader::after {
    content: attr(data-descr);
    position: absolute;
    height: calc(8rem);
    left: 0;
    top: 30px;
    width: 6rem;
    background-color: #03658C;
    z-index: -1;
    color: #590253;
    overflow: hidden;
    animation: animate 4s infinite linear;
    
}

@keyframes animate {
    0%

    100% {
        transform: translatex(0px);
    }

    50% {
        transform: translatex(15rem);
    }
}